#body{
	width: 100vw;
}
h1{
	position: relative;
	font-family: Kenzo;
	color: coral;
	font-size: 50px;
	left: 5vw;
	width: 25vw;
	margin: 0;
	margin-top: 5vh;
	margin-right: 0;

}
h4{
	position: relative;
	top: -7.5vh;
	left: 28vw;
	color: darkgray;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 2px;
	margin-right: 0;
	width:35vw;
}
#start{
	background-color: transparent;
	width: 30vw;
	height: 20vh;
	border-color: white;
	position: absolute;
	top:45vh;
	left: 27vw;

}
h6{
	font-family: Kenzo, sans-serif;
	font-size: 40px;
	color: white;
	margin:0;
}

#background{
	position: absolute;
	background-color: aquamarine;
	border-color: coral;
	border-width: 20px;
	width: 935px;
	height: 530px;
	z-index: -100;
	left: 5vw;
	top: 16vh;
}
#tools{
	position: absolute;
	background-color: darkgray;
	opacity: .7;
	width:250px;
	height: 530px;
	top:16vh;
	left: 75.5vw;
	z-index: -101;
}
#trash{
	position: absolute;
	top: 40vh;
	left: 80vw;
	background-color: transparent;
	border: none;
}

#trash1{
	position: absolute;
	width: 105px;
	height: 60px;
	left: 83vw;
	top: 60vh;
	background-color: coral;
	z-index: -90;
	display: none;
}

#pizza{
	position: absolute;
	top:39vh;
	left: 15vw;
	width:400px;
	height: 300px;
	display: none;
}
#cookie{
	position: absolute;
	top:32.5vh;
	left: 44vw;
	width:400px;
	height: 300px;
	display: none;
	z-index: -99;
}
#berry{
	position: absolute;
	top:33.5vh;
	left: 21.5vw;
	width:400px;
	height: 300px;
	display: none;
}
#sushi{
	position: absolute;
	top:32vh;
	left: 44vw;
	width:400px;
	height: 300px;
	display: none;
	z-index: -99;
}
#carrot{
	position: absolute;
	top:37vh;
	left: 14.5vw;
	width:400px;
	height: 300px;
	display: none;
}
#corn{
	position: absolute;
	top:26vh;
	left: 39.5vw;
	width:400px;
	height: 300px;
	display: none;
	z-index: 1;
}
#corn img{
	width: 90%;
}